.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
}

/* @media (--sm-viewport) {
  .container {
    max-width: 576px;
  }
}

@media (--md-viewport) {
  .container {
    max-width: 768px;
  }
}

@media (--lg-viewport) {
  .container {
    max-width: 1024px;
  }
}

@media (--xl-viewport) {
  .container {
    max-width: 1312px;
  }
} */
