.footer {
  color: var(--color-footer-text-muted);
  background-color: var(--color-footer-bg);
  padding-top: 4rem;
}

/* top */

.footer__top {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footer__category,
.footer__go-to-top,
.footer__copyright {
  color: var(--color-footer-text);
}

.footer__top-column {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.footer__top-column_wide {
  flex-basis: 100px;
}

.footer__top-column-img {
  height: 1.5em;
  width: fit-content;
}

.footer__description {
  font-size: 0.8em;
  margin: 1rem 0;
}

.footer__subscribe-text {
  font-size: 0.8em;
}

.footer__socials {
  display: flex;
  gap: 1em;
}

.footer__top-column-input {
  margin: 1rem 0;
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);
  padding: 0.6em 1em;
  border-radius: 0.25em;
}

.footer__top-column-link {
  display: flex;
  gap: 0.2rem;
}

.footer__divider {
  background: linear-gradient(
    to right,
    var(--color-footer-bg) 0%,
    var(--color-footer-text-muted) 50%,
    var(--color-footer-bg) 100%
  );
  height: 1px;
  border: 0;
  margin: 2em;
}

/* middle */

.footer__middle {
  max-width: 1260px;
  margin: 2rem auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.footer__awards {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.footer__button {
  margin-left: 0.5em;
  background-color: var(--color-button);
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
}

/* bottom */

.footer__bottom {
  background-color: var(--color-footer-bg-muted);
  padding: 1em 0;
}

.footer__bottom-p {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
