.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-header-text);
  background-image: url('/images/header/header-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0 / 50%);
  background-blend-mode: darken;
}

.header__container {
  flex-direction: column;
  align-items: center;
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 4em;
  gap: 2em;
}

.header__nav-left {
  display: flex;
  gap: 2em;
}

.header__nav-link {
  color: var(--color-header-text-muted);
}

.header__nav-link_selected {
  color: var(--color-header-text);
}

.header__nav-select {
  color: var(--color-header-text-muted);
  background-color: transparent;
  border: 0;
}

.header__nav-button {
  margin-left: 0.5em;
  background-color: var(--color-button);
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.25em;
}

.header__breadcrumb {
  display: flex;
  color: var(--color-header-text-muted);
  margin-bottom: 2rem;

  & * {
    flex-shrink: 0;
  }
}

.header__breadcrumb-parent {
  color: var(--color-header-text);
}

.header__title {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
}
