@custom-media --sm-viewport (width >= 576px);
@custom-media --md-viewport (width >= 768px);
@custom-media --lg-viewport (width >= 1024px);
@custom-media --xl-viewport (width >= 1280px);

:root {
  --color-white: #fff;
  --color-light-gray: #f4f5f6;
  --color-gray: #a6a7ae;
  --color-purple: #7772f1;
  --color-dark-blue: #1e212c;
  --color-dark-blue-lighter: #2a2c37;
  --color-input: #3a3c46;
  --color-input-border: #61636b;
  --color-input-placeholder: #b0b1b5;
}

body {
  font-size: 18px;
  line-height: 1.6;
  font-family: Lato, sans-serif;
}

a,
select,
button {
  cursor: pointer;
}

button {
  background-color: var(--color-purple);
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.25em;
}

input {
  color: var(--color-input-placeholder);
  background-color: var(--color-input);
  border: 1px solid var(--color-input-border);
  padding: 0.6rem 1rem;
  border-radius: 0.25rem;
}
