@custom-media --sm-viewport (width >= 576px);
@custom-media --md-viewport (width >= 768px);
@custom-media --lg-viewport (width >= 1024px);
@custom-media --xl-viewport (width >= 1280px);

:root {
  /* header */
  --color-header-text: #fff;
  --color-header-text-muted: #b4b5ba;

  /* main */
  --color-main-text: #1e212c;
  --color-main-text-muted: #424551;
  --color-main-bg: #fff;
  --color-main-bg-muted: #f4f5f6;

  /* footer */
  --color-footer-text: #fff;
  --color-footer-text-muted: #a5a6ab;
  --color-footer-bg: #1e212c;
  --color-footer-bg-muted: #292c37;

  /* other */
  --color-button: #7772f1;
  --color-button-bg-muted: #d7dadd;
  --color-input-bg: #3a3c46;
  --color-input-border: #61636b;
  --color-input-placeholder: #b0b1b5;
}

body {
  font-size: 18px;
  line-height: 1.6;
  font-family: Lato, sans-serif;
}

a,
select,
button {
  cursor: pointer;
}

input {
  cursor: text;
}
